.msr-slider {
  position: relative;
  margin: 48px 0;
}

.msr-slider-wrapper {
  overflow: hidden;

}

.msr-slider-items {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.msr-slider-transition-none {
  transition: none;
}

.msr-slider-item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
  will-change: transform;
}
.msr-slider-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 50px;
  color: #fff;
  text-align: center;
  background: rgb(0 0 0 / 20%);
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.msr-slider-btn-hide {
  /*display: none;*/
}

.msr-slider-btn-prev {
  left: 0;
}

.msr-slider-btn-next {
  right: 0;
}

.msr-slider-btn:hover,
.msr-slider-btn:focus {
  color: #fff;
  text-decoration: none;
  background: rgb(0 0 0 / 30%);
  outline: 0;
}

.msr-slider-btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.msr-slider-btn-prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.msr-slider-btn-next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.msr-slider-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin: 0 15%;
  padding-left: 0;
  list-style: none;
}
.msr-slider-indicator {
  flex: 0 1 auto;
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #427fed;
  background-clip: padding-box;
  /*border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;*/
  cursor: pointer;
    	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	opacity: 0.4;
}
.msr-slider-indicator-active {
  opacity: 1;
}
